<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/student" class="form-horizontal" method="post" name="add">
        <input type="text" name="name" placeholder="Введите имя">
        <input type="text" name="secondName" placeholder="Введите фамилию">
        <input type="text" name="age" placeholder="Введите возраст">
        <input type="text" name="course" placeholder="Введите номер курса">
        <button type="submit">Add</button>
    </form>
</div>

<p th:text="'Студенты'"/>
<table>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.getName()}"></td>
        <td th:text="${student.getSecondName()}"></td>
        <!--<td><a th:href="@{/edit/{id}(id=${address.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${address.id})}">Delete</a></td>-->
    </tr>
</table>
</body>
</html>